[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-socketio = "*"
flask-pymongo = "*"
dnspython = "*"
db = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.8"
