/* .dashboard {
    background-color: #9bb39b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Script MT Bold", cursive; 
    font-size: 100px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 500; 
    color: #ffb8add7;
  }
  
  #act1{
    width: 300px;
    height: 400px;
    background-color: #ffe1ade1; 
    border: none;
    color: #000000;
    margin-left: 0px;
    font-family: "Roboto"; 
    font-size: 20px; 
    
}
#act1 {border-radius: 12px;}

#act2{
    width: 300px;
    height: 400px;
    background-color: #ffe1ade1; 
    border: none;
    color: #000000;
    margin-left: 100px;
    font-family: "Roboto" ;
    font-size: 20px; 
}
#act2 {border-radius: 12px;}

#act3{
    width: 300px;
    height: 400px;
    background-color: #ffe1ade1; 
    border: none;
    color: #000000;
    margin-left: 100px;
    font-family: "Roboto" ;
    font-size: 20px; 
}
#act3 {border-radius: 12px;}

#row1{
    text-align: center;
    margin-left: 100px;
}





#act4{
    width: 300px;
    height: 400px;
    background-color: #ffe1ade1; 
    border: none;
    color: #ff9d8ef6;
    margin-left: 0px;
    font-family: "Roboto"; 
    font-size: 20px; 
    
}
#act4 {border-radius: 12px;}

#act5{
    width: 300px;
    height: 400px;
    background-color: #ffe1ade1; 
    border: none;
    color: #ff9d8ef6;
    margin-left: 100px;
    font-family: "Roboto" ;
    font-size: 20px; 
}
#act5 {border-radius: 12px;}

#act6{
    width: 300px;
    height: 400px;
    background-color: #ffe1ade1; 
    border: none;
    color: #ff9d8ef6;
    margin-left: 100px;
    font-family: "Roboto" ;
    font-size: 20px; 
}
#act6 {border-radius: 12px;}


#row2{
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
}



#act7{
    width: 300px;
    height: 400px;
    background-color: #ffe1ade1; 
    border: none;
    color: #ff9d8ef6;
    margin-left: 0px;
    font-family: "Roboto"; 
    font-size: 20px; 
    
}
#act7 {border-radius: 12px;}

#act8{
    width: 300px;
    height: 400px;
    background-color: #ffe1ade1; 
    border: none;
    color: #ff9d8ef6;
    margin-left: 100px;
    font-family: "Roboto" ;
    font-size: 20px; 
}
#act8 {border-radius: 12px;}

#act9{
    width: 300px;
    height: 400px;
    background-color: #ffe1ade1; 
    border: none;
    color: #ff9d8ef6;
    margin-left: 100px;
    font-family: "Roboto" ;
    font-size: 20px; 
}
#act9 {border-radius: 12px;}


#row3{
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
}
 */
